.jumbotron {
    @extend .container;
    margin-top: 30px;
    text-align: center;
    background:rgba(0,0,0,0.1);

    h1 {
        font-size: 60px;
        padding-top: 20px;
        font-family: Arial,Helvetica,sans-serif;
    }
    .buttons {
        padding-bottom: 10px
    }
}
