//main container of the body
.container {
  @include border-radius(25px);
  background:rgba(0,0,0,0.5);
  padding: 10px;
  //containers in main container
  .border-radius {
    @include border-radius(25px);
    background-color: #1d313f;
    padding: 10px;
    //room status labels
    .waiting{
      @extend .label-primary;
    }
    .full{
      @extend .label-danger;
    }
    .started{
      @extend .label-success;
    }       
  }
}