//main room container is wider
.roomContainer {
  @extend .container;
  width: 100%;
}

.chat{
  //font-family:Helvetica, Arial, sans-serif;
  position:relative;
  margin:0 auto;
  color:#777;
  border-radius:10px;
  border:1px solid #aaa;
  overflow:hidden;
}
[scroll-glue] {
  background:#eee;
  overflow:hidden;
  width:100%;
  height:150px;
}
.chat .messages:hover{
  overflow-y:scroll;
}
.chat .messages > div{
  padding:15px;
  border-bottom:1px dashed #999;
}
.chat > textarea{
  //font-family:Helvetica, Arial, sans-serif;
  resize: vertical;
  //font-size:15px;
  width: 100%;
  height:50px;
  border:0;
  padding:10px 15px;
  background:#ddd;
}
.post{
  cursor:pointer;
  width:100%;
  background:#bbb;
  padding:10px 0;
  border:none; 
}