$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "main";
@import "room";
@import "login";

html,
  body {
    margin:0;
    padding:0;
    height:100%;
    .main-container {
      min-height:100%;
      position:relative;
    }
  }
  b{
    font-weight: bold;
  }
    //navbar
  .navbar{
    .navbar-brand{
      font-size: 35px;
      bottom: 0px
    }
  }
  //body 
  .body {
    padding:10px;
    padding-bottom: 300px;  /* footer */
    //background
    .background {
      width: 100%;
      position: absolute;
      max-height: 100%;
      height: 100%;
      left: 0px; 
      bottom: 0px;
      top: 0px;
      z-index: -3;
    }
  }

  .footer {
    position:absolute;
    height: 65px;
    bottom:0;
    width:100%;
    li {
      display: inline;
      padding-right: 10px;
    };
    a {
      color: black;
    };
    .logo {
      max-height: 60px;
    }
    //footer background
    .background {
      width: 100%;
      max-height: 300px;  
      position: absolute; 
      left: 0px; 
      bottom: 0px;
      z-index: -2;
    }

  }
