<!--link(rel="stylesheet" href="styles/login.css")-->
<div class="body"><img src="images/background.png" class="background"/>
  <div class="jumbotron">
    <h1 class="h1">Video Conference</h1>
    <h3 class="h3">Place where you can generate rooms for debates and e-leraning</h3><br/><br/><br/>
    <div>
      <div>
        <ul>
          <li class="buttons"><a href="#/" ng-click="login('google')"><img src="images/google.png"/></a></li>
          <li class="buttons"><a href="#/" ng-click="login('facebook')"><img src="images/facebook.png"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer"><img src="images/footer.png" class="background"/>
  <div class="col-md-6 footer-nav text-left"><br/><br/>
    <ul>
      <li> © Paweł Zajewski</li>
      <li>|</li>
      <li> <a href="#/">Home</a></li>
      <li>|</li>
      <li> <a href="#/about">About</a></li>
      <li>|</li>
    </ul>
  </div>
  <div class="col-md-6 text-right">
    <ul>
      <li><a href="http://yeoman.io" target="_blank"><img src="images/yeoman.png" class="logo"/></a></li>
      <li><a href="http://nodejs.org" target="_blank"><img src="images/nodejs.png" class="logo"/></a></li>
      <li><a href="https://angularjs.org" target="_blank"><img src="images/angularjs.png" class="logo"/></a></li>
      <li><a href="https://firebase.com" target="_blank"><img src="images/firebase.png" class="logo"/></a></li>
      <li><a href="http://rtcmulticonnection.org/" target="_blank"><img src="images/rtcmulticonnection.png" class="logo"/></a></li>
    </ul>
  </div>
</div>