
<div class="header">
  <nav role="navigation" ng-controller="LoginCtrl" class="navbar navbar-inverse navbar-static">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="exit" ng-href="/main" class="navbar-brand">VideoConference</a>
      </div>
      <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a id="drop3" href="" role="button" data-toggle="dropdown" class="dropdown-toggle thumb">{{auth.user.displayName}}<b class="caret"></b></a>
            <ul role="menu" aria-labelledby="drop3" class="dropdown-menu pull-right">
              <li ng-click="logout()"><a ng-href="/main">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="body"><img src="images/bg.png" class="background"/>
  <div class="container">
    <div class="page-header well well-lg">
      <h1 class="h1">Logged In<br/><small>Welcome {{auth.user.displayName}}, you are Logged In</small></h1>
    </div>
    <div class="col-md-5 border-radius"><br/>
      <div class="panel panel-default">
        <div class="h3 panel-heading">Room List</div>
        <input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        <table class="table">
          <tr>
            <th>Room Name</th>
            <th>Moderator</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="room in rooms | orderByPriority | filter:query">
            <td ng-click="getInfo(room)">{{room.roomName}}</td>
            <td>{{room.moderator}}</td>
            <td> <span ng-class="statusClass(room)" class="label">{{room.status}}</span></td>
          </tr>
        </table>
      </div>
      <button ng-click="setComponent('new')" class="btn btn-primary btn-lg">Create Room</button>
    </div>
    <div class="col-md-1"></div>
    <div ng-switch="component" class="col-md-6 border-radius">
      <div ng-switch-when="new">
        <div class="well">
          <p class="h3">New Room</p><br/><br/>
          <form id="newRoom" name="newRoomForm" novalidate="novalidate" class="form-horizontal">
            <div class="form-group">
              <label for="roomName" class="col-sm-3 control-label">Room Name</label>
              <div ng-class="{'has-error' : newRoomForm.roomName.$error.required &amp;&amp; newRoomForm.$dirty, 'has-success' : !(newRoomForm.roomName.$error.required) &amp;&amp; newRoomForm.$dirty}" class="col-sm-8 controls">
                <input id="roomName" type="text" ng-model="newRoom.roomName" placeholder="Room Name" name="roomName" required="required" class="form-control"/>
                <div ng-show="newRoomForm.roomName.$error.required &amp;&amp; newRoomForm.roomName.$dirty">
                  <p class="text-danger">Please enter a Room Name</p>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="form-group">
              <label for="roomDetails" class="col-sm-3 control-label">Room Details</label>
              <div ng-class="{'has-error' : newRoomForm.roomDetails.$error.required &amp;&amp; newRoomForm.$dirty, 'has-success' : !(newRoomForm.roomDetails.$error.required) &amp;&amp; newRoomForm.$dirty}" class="col-sm-8 controls">
                <textarea id="roomDetails" type="text" ng-model="newRoom.roomDetails" name="roomDetails" required="required" class="form-control"></textarea>
                <div ng-show="newRoomForm.roomDetails.$error.required &amp;&amp; newRoomForm.roomDetails.$dirty">
                  <p class="text-danger">Please enter Room Details</p>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="form-group">
              <label for="maxUsers" class="col-sm-3 control-label">Max Users</label>
              <div class="col-sm-3 controls">
                <select id="maxUsers" type="number" name="maxUsers" ng-model="newRoom.maxUsers" integer="integer" required="required" class="form-control">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div><br/><br/>
            <div class="form-group form-actions">
              <div class="col-sm-10">
                <button type="submit" ng-disabled="newRoomForm.$invalid" ng-click="newRoom.submitTheForm()" class="btn btn-primary btn-lg">Save</button>&nbsp;
                &nbsp;
                <button ng-click="setComponent('info')" class="btn btn-primary btn-lg">Cancel</button>
              </div>
            </div>
          </form>
          <div ng-show="!valid">
            <p class="text-danger">Something is wrong with your form!</p>
          </div>
        </div>
      </div>
      <div ng-switch-when="info">
        <accordion close-others="false">
          <accordion-group heading="Room Info" is-open="open">
            <p class="h4"> Room Name: <b>{{selected.roomName}}</b></p><br/>
            <p class="h4">Moderator: <b>{{selected.moderator}}</b></p><br/>
            <p class="h4">Room Details: <b>{{selected.roomDetails}}</b></p><br/>
            <p class="h4">Max users: <b>{{selected.maxUsers}}</b></p><br/>
            <p class="h4">Status: <span ng-class="statusClass(selected)" class="label">{{selected.status}}</span></p><br/><a href="#/rooms/{{selected.id}}">
              <button class="btn btn-primary btn-lg">Join Room</button></a>
          </accordion-group>
          <accordion-group heading="Users in room ({{selected.usersIn}}/{{selected.maxUsers}})">
            <ul class="list-group users">
              <li ng-repeat="user in selected.users" class="list-group-item">{{user.username}}</li>
            </ul>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
<div class="footer"><img src="images/footer.png" class="background"/>
  <div class="col-md-6 footer-nav text-left"><br/><br/>
    <ul>
      <li> © Paweł Zajewski</li>
      <li>|</li>
      <li> <a href="/">Home</a></li>
      <li>|</li>
      <li> <a href="/about">About</a></li>
      <li>|</li>
    </ul>
  </div>
  <div class="col-md-6 text-right">
    <ul>
      <li><a href="http://yeoman.io" target="_blank"><img src="images/yeoman.png" class="logo"/></a></li>
      <li><a href="http://nodejs.org" target="_blank"><img src="images/nodejs.png" class="logo"/></a></li>
      <li><a href="https://angularjs.org" target="_blank"><img src="images/angularjs.png" class="logo"/></a></li>
      <li><a href="https://firebase.com" target="_blank"><img src="images/firebase.png" class="logo"/></a></li>
      <li><a href="http://rtcmulticonnection.org/" target="_blank"><img src="images/rtcmulticonnection.png" class="logo"/></a></li>
    </ul>
  </div>
</div>