
<div class="header">
  <nav role="navigation" ng-controller="LoginCtrl" class="navbar navbar-inverse navbar-static">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="exit" href="#/main" class="navbar-brand">VideoConference</a>
      </div>
      <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a id="drop3" href="" role="button" data-toggle="dropdown" class="dropdown-toggle thumb">{{auth.user.displayName}}<b class="caret"></b></a>
            <ul role="menu" aria-labelledby="drop3" class="dropdown-menu pull-right">
              <li ng-click="logout()"><a href="#/main">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div><script src='scripts/video.js'></script>
<div class="body">
  <div></div><img src="images/bg.png" class="background"/>
  <div class="roomContainer">
    <div class="page-header well well-lg">
      <h1 class="h1">{{room.roomName}}<br/><small>{{room.roomDetails}}</small></h1>
    </div>
    <div class="col-md-3 border-radius"><br/>
      <input placeholder="Search" ng-model="query" class="form-control"/><br/>
      <div class="panel panel-default">
        <div class="h3 panel-heading">Users ({{room.usersIn}} / {{room.maxUsers}})</div>
        <ul class="list-group users">
          <li ng-repeat="user in users | orderByPriority | filter:query" class="list-group-item">
            {{user.username}}
            &nbsp;
            <button type="button" ng-hide="!isModerator || auth.user.displayName === user.username" ng-click="banUser(user)" class="btn btn-danger btn-xs">X</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 border-radius">
      <div id="videos-container" class="well">    </div>
      <accordion close-others="false">           
        <accordion-group heading="Chat" is-open="open">
          <div class="chat">
            <div scroll-glue="scroll-glue" ng-model="glued" class="messages">
              <div ng-repeat="message in messages" autoscroll="autoscroll">{{message.from}} : {{message.body}}</div>
            </div>
            <textarea type="text" ng-model="msg.body" ng-keydown="addMessage($event)"></textarea>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
<div class="footer"><img src="images/footer.png" class="background"/>
  <div class="col-md-6 footer-nav text-left"><br/><br/>
    <ul>
      <li> © Paweł Zajewski</li>
      <li>|</li>
      <li> <a href="/">Home</a></li>
      <li>|</li>
      <li> <a href="/about">About</a></li>
      <li>|</li>
    </ul>
  </div>
  <div class="col-md-6 text-right">
    <ul>
      <li><a href="http://yeoman.io" target="_blank"><img src="images/yeoman.png" class="logo"/></a></li>
      <li><a href="http://nodejs.org" target="_blank"><img src="images/nodejs.png" class="logo"/></a></li>
      <li><a href="https://angularjs.org" target="_blank"><img src="images/angularjs.png" class="logo"/></a></li>
      <li><a href="https://firebase.com" target="_blank"><img src="images/firebase.png" class="logo"/></a></li>
      <li><a href="http://rtcmulticonnection.org/" target="_blank"><img src="images/rtcmulticonnection.png" class="logo"/></a></li>
    </ul>
  </div>
</div>